<div class="container" id="ngNewsContainer" ng-controller="NewsPageCtrl">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="article in articles">
            <div class="thumbnail">
                <a href="{{article._links.longUrl.href}}" target="blank"><img src="{{article.thumbnailUrl}}"></a>
                <div class="caption">
                    <a href="{{article._links.longUrl.href}}" target="blank"><h4>{{article.title}}</h4></a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>